<div id="itemListWrapper">

<h1>Know About Camcorders</h1>

<h3>A. Analog Camcorders</h3>
Analog camcorders were famous between 1980 and 1995.
<h3>Tape Camcorders</h3>
Analog tape recorders recorded video on Video8 format tapes. The tape width is 8mm and a typical cassette could store video upto 120mins.
<h3>B. Digital Camcorders</h3>
<h3>DV Tape Camcorders</h3>
DV camcorders were introduced around mid of 1990s. DV stands for "Digital Video".A typical DV cassette was able to store video of 60mins.  
<h3>DVD Camcorders</h3>
DVD camcorders used 3.15 inch DVDs and famous during late 90s until mid 2000s.
<h3>Memory Camcorders</h3>
Memory camcorders use SD cards as their storage medium. They started around late 2000 and the present norm for camcorders.

	
</div>